MEMORY {
#RAM Addresses:
    # Zero page
    ZP: start = $00, size = $100, type = rw, define = yes;
	#note, the c compiler + neslib + famitone2 use about 60 zp addresses, I think
	
	#note OAM: start = $0200, size = $0100, define = yes;
	#note, sprites stored here in the RAM
	
	RAM: start = $0300, size = $0400, define = yes;
	#note VRAM_BUFFER: start = $700, size = 128, define = yes;

#INES Header:
    HEADER: start = $0, size = $10, file = %O ,fill = yes;


#ROM Addresses:
    PRG0:   start = $8000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $00, define = yes;
    PRG1:   start = $A000,  size = $4000, type = ro, file = %O, fill = yes, fillval = $00, define = yes;
    PRG2:   start = $E000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $00, define = yes;



#1 Bank of 8K CHR ROM
    CHR: start = $0000, size = $2000, file = %O, fill = yes;
}




SEGMENTS {
	BANK0:     load = PRG0, type = ro,  start = $8000, optional = yes;
    BANK1:     load = PRG1, type = ro,  start = $A000, optional = yes;
    BANK2:     load = PRG2, type = ro,  start = $E000, optional = yes;
    HEADER:   load = HEADER,         type = ro;
    STARTUP:  load = PRG2,            type = ro,  define = yes;
    LOWCODE:  load = PRG2,            type = ro,                optional = yes;
    INIT:     load = PRG2,            type = ro,  define = yes, optional = yes;
    CODE:     load = PRG2,            type = ro,  define = yes;
    RODATA:   load = PRG2,            type = ro,  define = yes;
    DATA:     load = PRG0, run = RAM, type = rw,  define = yes;
    CHARS:    load = CHR,            type = rw;
    BSS:      load = RAM,            type = bss, define = yes;
    HEAP:     load = RAM,            type = bss, optional = yes;
    ZEROPAGE: load = ZP,             type = zp;
    ONCE:     load = PRG2,            type = ro,  define = yes, optional = yes;
	# SAMPLES:  load = PRG2, start = $f000, type = ro, optional = yes;
	VECTORS:  load = PRG2, start = $fffa, type = ro;
}




#removed CONDES features




SYMBOLS {

    __STACKSIZE__: type = weak, value = $0100;     # 1 page stack
	__STACK_START__: type = weak, value = $0700;	
}

